!!!5
html
    head
        meta(charset="gbk")
        title
        meta(name="description",content="")
        meta(name="keywords",content="")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        link(rel="stylesheet",type="text/css",href="../css/merge.css")
    body
        .layout
            #header header
            #content content
        script(src="../js/merge.js")